server {

    listen 80;

    server_name _;

    client_max_body_size 100M;

    location / {

        proxy_pass http://frontend:5173;

        proxy_http_version 1.1;

        proxy_set_header Host $host;

        proxy_set_header Upgrade $http_upgrade;

        proxy_set_header Connection "upgrade";

    }

    location /socket.io/ {

        proxy_pass http://backend:5001/socket.io/;

        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;

        proxy_set_header Connection "Upgrade";

        proxy_set_header Host $host;

    }

    location /api/ {

        proxy_pass http://backend:5001/api/;

        proxy_http_version 1.1;

        proxy_set_header Host $host;

    }

    location /messages/ {

        proxy_pass http://backend:5001/messages/;

        proxy_http_version 1.1;

        proxy_set_header Host $host;

    }

    location /run {

        proxy_pass http://backend:5001/run;

        proxy_http_version 1.1;

        proxy_set_header Host $host;

    }

}