server {

    listen 80;

    location / {

        root /usr/share/nginx/html;

        index index.html;

        try_files $uri /index.html;

    }

    location /socket.io/ {

        proxy_pass http://backend:5001/socket.io/;

        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;

        proxy_set_header Connection "Upgrade";

        proxy_set_header Host $host;

    }

    location /api/ {

        proxy_pass http://backend:5001/api/;

    }

    location /run {

        proxy_pass http://backend:5001/run;

    }

    location /messages/ {

        proxy_pass http://backend:5001/messages/;

    }

}